<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411069541832-537f32mjghlsm8pifne4h45le261gm5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411069541832-537f32mjghlsm8pifne4h45le261gm5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBusIcJ67bPpeB4oQVJQQFQDCCwGsfCSpo</string>
	<key>GCM_SENDER_ID</key>
	<string>411069541832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gallaugher.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-27ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-27ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411069541832:ios:08791f9618840d7b4964fd</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-27ef5.firebaseio.com</string>
</dict>
</plist>