<!-- templates/home.html -->
<!--this is the html for the instructor landing page-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Welcome!
<!--<p><a href="{% url 'logout' %}">logout</a></p>-->


<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Load CSS files -->
<div class="container">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<!--<link rel="stylesheet" href="Delivery3/delta/static/css/fontawesome.min.css">
<link rel="stylesheet" href="Delivery3/delta/static/css/milligram.min.css">
<link rel="stylesheet" href="Delivery3/delta/static/css/style.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/fontawesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/milligram.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/bar.css' %}">




<h1 style="margin-left: 30%">Instructor</h1>
<h4 style="margin-left: -100px;">Courses</h4>


<button type="button" style="width:75%;margin-left:-100px;margin-top:10"class="block">Course 0- CS1101</button>
<button type="button" style="width:75%;margin-left:-100px;"class="block">Course 1- CS1102</button>
<button type="button" style="width:75%;margin-left:-100px;"class="block">Course 2- CS2202</button>
<button type="button" style="width:75%;margin-left:-100px"class="block">Course 3- CS4493</button>
<button type="button" style="width:75%;margin-left:-100px"class="block">Course 4- CS8392</button>
<button type="button" style="width:75%;margin-left:-100px"class="block">Course 5- CS5424</button>

<button type="button" style="width:75%;margin-left:-100px"class="block">Course 6- CS5424</button>
<button type="button" style="width:75%;margin-left:-100px"class="block">Course 7- CS5424</button>
<button type="button" style="width:75%;margin-left:-100px"class="block">Course 8- CS5424</button>


</div>
<h5 style="margin-left: 850px;margin-top: -500px;font:bold"><b>{{user.username}}</b></h5>
<div>


<!--<img src="templates/serttings.png" style="margin-left: 850px; width:02%; margin-top:-425px" alt="Girl in a jacket">-->
<img src="{% static 'staticfiles/delta/serttings.png' %}" style="margin-left: 850px; width:02%; margin-top:-425px" alt="Girl in a jacket">
<div class="dropdown">
<button class="dropbtn">Settings</button>
  <div class="dropdown-content">
    <p><a style="width:20%;margin-left:850px"class="block" href="{% url 'logout' %}">Logout</a></p>
    <p><a type="button" style="width:20%;margin-left:850px"class="block">Switch User</a></p>
    <p><a type="button" style="width:20%;margin-left:850px"class="block">Additional Settings</a></p>
    </div>
  </div>
</div>




<div>
<img src="{% static 'staticfiles/delta/eagles.jpg' %}" style= "margin-top:-3000px; width:25%; margin-left:-80px;" alt="Settingz">
</div>
<!-- <script src="js/d3.min.js"></script> -->

<!-- Load JS libraries: Vega-lite -->
<script src="https://cdn.jsdelivr.net/npm/vega@5.7.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.10"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@5.1.3"></script>

<!-- Your implementation -->
<!-- <script type="module" src="delta/staticfiles/js/main.js"></script> -->

{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/fontawesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/milligram.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/bar.css' %}">
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}
