{% extends 'base.html' %}
{%load static%}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/fontawesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/milligram.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'staticfiles/delta/css/style.css' %}">
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
